#secretWordInput {
  min-width: 300px;
}

#message {
  min-height: 22px;
}

#gallow {
  position: absolute;
  z-index: 0;
}

#head {
  padding-top: 175px;
  padding-left: 170px;
  height: 100px;
  width: 100px;
  z-index:  1;
}

#torso {
  height: 200px;
  width: 100px;
  z-index: 1;
}

#leftarm {
  height: 50px;
  width: 100px;
  padding-bottom: 140px;
  z-index: 1;
}

#rightarm {
  padding-left: 180px;
  height: 50px;
  width: 100px;
  padding-bottom: 140px;
  z-index: 2;
  position: relative;
}

#leftleg {
  height: 100px;
  width: 50px;
  z-index: 1;
}

#rightleg {
  height: 100px;
  width: 50px;
  padding-left: 170px;
  z-index: 1;
}

#hangmanGame {
  text-align: center;
}
